/* variables */
:root{
    --spacing: 10px;
    --base: #ffc600;
    --blur: 10px;
}
/* ====================== */

body{
    background: #193549;
    text-align: center;
    font-weight: 100;
    font-size: 50px;
    font-family: 'helvetica neue', sans-serif;
    color: white;
}

.controls{
    margin-bottom: 50px;
}

input{
    width: 100px;
}

img{
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
}

.js{
    color: var(--base);
}